<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.think.androidfun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.aesean.lib.WAKE_BROADCAST" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".hookactivity.HookActivity" />
        <activity android:name=".butterkinfe.ButterKinfeActivity"></activity>
        <activity android:name=".butterkinfe.Main2Activity" />
        <activity android:name=".AppActivity">
        </activity>
        <activity android:name=".socket.SocketClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>